
section, header, li {
	border: solid;
}
.top-title {
	float: left;
	margin-left: 1vw;
}
h1 {
	font-family: Verdana;
	font-size: 28px;
}
li {
	font-family: Verdana;
	font-size: 20px;
}
nav button div {
	float: right;
}
#chicken {
	background-color: #AAAAAA;
	margin: 30px 30px 30px 30px;
}
h4 {
	position: relative;
}
.clear-div {
	position: relative;
	clear: both;
}
